<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Diseño creado por Sebastian Reyes Espinosa, basado en la plantilla
publica creada por TEMPLATED - http://templated.co
Released for free under the Creative Commons Attribution License

Creado 2015-01-19
Ultima actualizacion 2015-01-23
Version 1.2.34
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Track</title>
</head>
<body>
	<div>
		<p>Title: {{track.title}}</p>
		<p>Order: {{track.order}}</p>
		<p>File: {{track.track_file}}</p>
		<p>Album: {{track.album}}</p>
		<p>Artist: {{track.artist}}</p>
		<p>Biography:  {{track.artist.biography}}</p>
	</div>
</body>
</html>